{% extends 'layoutAdmin.twig' %}
{% block puntosdeventa %}
<div class="container bg-white py-3">
    <h3 class="">Puntos de venta</h3>
  <div class="col-sm-12"><h3><a href="{{ 'admin/'|url }}" class="btn btn-outline-danger"><i style="font-size: 2em;" class="fas fa-chevron-left"></i></a></h3></div>

  <div class="col-sm-12">
    <div class="card">
          <div class="card-header bg-dark">
              <h3 class="card-title text-white">Nuevo Punto de venta</h3>
          </div>
          <form class="card" method="post" enctype="multipart/form-data">
           <div class="col-sm-12 mt-3">
                {% if errors %}
                    <div class="alert alert-danger">Imagen no guardada, revisa las restricciones de subida de archivo.</div>
                {% endif %}
                {% if resultado %}
                    <div class="alert alert-success">Punto de venta creado</div>
                {% endif %}
            </div>
            <div class="card-body bg-light">

            <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Lugar de venta</label>
                            <input type="text" name="establecimiento" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h4>Descripción</h4>
                            <textarea id="editor1" name="contenido" rows="25" class="p-4"></textarea>
                            <script>
                                CKEDITOR.replace('editor1');
                            </script>
                        </div>
                    </div>
                     <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <select class="custom-select" name="evento">
                            {% for eventosid in eventoid %}
                                <option value="{{ eventosid.id }}" selected="selected">{{ eventosid.id }} - {{ eventosid.nombre }} - {{ eventosid.fecha }}</option>
                             {% endfor %}
                            </select>
                        </div>
                    </div>                  
                    <div class="col-sm-12 d-flex justify-content-between">
                        <div class="alert alert-warning">
                            <label for="slide">Subir imagen:
                                <a><br>Dimensiones: 400x300<br>Tamaño máximo: 1M<br>Formatos permitidos: JPEG, JPG, PNG</a>
                            </label>   
                            <input type="file" class="form-control-file" name="thumb" id="thumbnail" required>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-pinterest">Agregar punto de venta</button>
                        </div>
                    </div>
                    
                 </div>
                
                </div>
            </form>
      </div>
    </div>

    <div class="col-12">
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title text-white">Puntos de venta</h3>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-center text-nowrap table-hover">
            <thead class="text-center bg-light">
            <tr>
                <th  class="text-dark">No.</th>
                <th class="text-dark">Thumbnail</th>
                <th  class="text-dark">Punto de venta</th>
                <th  class="text-dark">Opciones</th>
            </tr>
            </thead>
            <tbody class="text-center"
            {% for puntodeventa in puntosdeventas %}
            <tr>
                <td><span>{{ puntodeventa.evento }}</span></td>
                <td>
                    <span class="avatar mr-3 align-self-center" style="background-image: url(../{{ puntodeventa.thumbnail }})"></span>
                </td>
                <td >{{ puntodeventa.establecimiento }}</td>        
                <td class="text-center">                 
                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-align-center"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ 'admin/ver/' | url }}{{ puntodeventa.id }}">Consultar</a>
                        <a class="dropdown-item" href="{{ 'admin/editarpventa/' | url }}{{ puntodeventa.id }}">Editar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item d-flex align-items-center" href="{{ 'admin/eliminarpventa/' | url }}{{ puntodeventa.id }}"><i class="text-danger fe fe-trash mr-1"></i> Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}          
            </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}